name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version number in the format `v1.2.3`"
        required: true
        type: string
      deploy_to_itch:
        description: "Deploy to itch.io"
        default: true
        type: boolean
      deploy_to_github_pages:
        description: "Deploy to GitHub Pages"
        default: true
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.ref || github.run_id }}
  cancel-in-progress: true

env:
  cargo_build_binary_name: sensen
  itch_page: roku36/sensen

jobs:
  # Build web bundle.
  build:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          targets: wasm32-unknown-unknown

      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@main

      - name: Install Bevy CLI
        run: cargo binstall --version 0.1.0-alpha.2 --locked --no-confirm --force --git='https://github.com/TheBevyFlock/bevy_cli' bevy_cli

      - name: Build web bundle
        run: |
          cargo binstall --locked --no-confirm --force wasm-bindgen-cli
          cargo binstall --locked --no-confirm --force wasm-opt
          bevy build --locked --release --yes web --bundle

      - name: Upload web bundle for itch.io
        if: ${{ inputs.deploy_to_itch }}
        uses: actions/upload-artifact@v4
        with:
          path: target/bevy_web/web-release/${{ env.cargo_build_binary_name }}
          name: package-web
          retention-days: 1

      - name: Upload web bundle for GitHub Pages
        if: ${{ inputs.deploy_to_github_pages }}
        uses: actions/upload-pages-artifact@v3
        with:
          path: target/bevy_web/web-release/${{ env.cargo_build_binary_name }}

  # Deploy to itch.io.
  deploy-to-itch:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ inputs.deploy_to_itch }}

    steps:
      - name: Download web bundle
        uses: actions/download-artifact@v4
        with:
          name: package-web
          path: tmp/web

      - name: Install butler
        run: |
          curl -L -o butler.zip 'https://broth.itch.zone/butler/linux-amd64/LATEST/archive/default'
          unzip butler.zip
          chmod +x butler
          ./butler -V

      - name: Upload to itch.io
        env:
          BUTLER_API_KEY: ${{ secrets.BUTLER_CREDENTIALS }}
        run: |
          ./butler push \
            --fix-permissions \
            --userversion='${{ inputs.version }}' \
            tmp/web \
            '${{ env.itch_page }}':web

  # Deploy to GitHub Pages.
  deploy-to-github-pages:
    runs-on: ubuntu-latest
    needs: build
    if: ${{ inputs.deploy_to_github_pages }}
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deploy.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deploy
        uses: actions/deploy-pages@v4
